{% extends "core/base.html" %}
{% block title %}Ошибка401 - SmartHome{% endblock %}

{% block content %}

<section class="error401">
    <div class="container">
        <div style="text-align: center; padding: 100px 0;">
            <i class="fas fa-lock" style="font-size: 5rem; color: var(--secondary); margin-bottom: 30px;"></i>
            <h2>401 Unauthorized</h2>
            <p style="margin-bottom: 30px; font-size: 1.2rem;">Вы не вошли в систему. Пожалуйста, авторизуйтесь.</p>
            <a href="{% url 'login_page' %}" class="btn">Войти</a>
        </div>
    </div>
</section>

{% endblock %}